
<div class="page-header">
  <h2>
    Artefacts and Photos from Babylon
    <small>dog-artefacts.babylon-online.org</small>
  </h2>
</div>


<div class="row" style="margin:60px 0;">
  <div class="col-md-9 col-centered">
    <%= render "shared/search" %>
  </div>
</div>


<p>
  <em>Einführung</em>
</p>