
<div class="page-header">
  <h2>
    Babylon / Koldeweys excavations - the artefacts
    <small>art.koldewey.babylon-online.org</small>
  </h2>
</div>


<div class="row" style="margin:60px 0;">
  <div class="col-md-9 col-centered">
    <%= render "shared/search" %>
  </div>
</div>


<p>
  The Koldewey-artefacts is a reworking of the excavation inventory from Koldewey’s 
  Babylon-excavation 1899-1917 critically compared and supplemented with other information 
  by Olof Pedersén. It lists all excavation numbers used with museum numbers, excavation photos, 
  drawings, findspots, short descriptions, and bibliographical references. The information has 
  been to some extent systematized and corrected with problems notified. The clay tablets were 
  previously treated in a book, Olof Pedersén, Archive und Bibliotheken in Babylon, ADOG 25, 2005. 
  The information in Koldewey-artefacts is available as Open Access.
</p>