/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require magnific-popup/dist/magnific-popup.css
 *= require selectize/dist/css/selectize.css
 *= require selectize/dist/css/selectize.bootstrap3.css
 *= require bootstrap-tokenfield-jquery3/dist/css/bootstrap-tokenfield.min.css
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "toastr/toastr";
@import "version";
@import "uppy/dist/uppy.min";
@import "CETEIcean";

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.chevron {
  li {
    margin-bottom:5px;
    a {
      color: #0366d6;
      background: image-url('li-chevron.png') 0 7px no-repeat;
      padding-left:10px;
      font:400 15px/1.6 helvetica,arial,freesans,clean,sans-serif;
      display:block
    }
    a:hover {
      color: #0366d6;
      background-position:2px 7px;
      text-decoration: none;
    }
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
    border-top: 1px solid #e1e4e8;
    background-color: #fafbfc;
    .container {
        padding: 40px 15px 40px 15px;
        margin: 0 15px;
    }
    ul {
        list-style: none;
        padding-left: 0;
        margin-left: -15px;
        @extend .chevron;
    }
}

@media (min-width: 768px) {
    footer {
        border-top: 1px solid #e1e4e8;
        background-color: #fafbfc;
        .container {
            margin: 0 auto;
        }
        p {
          margin-left: 35px;
        }
        ul.footer-links {
            margin:0;
            padding:0;
            li {
                font-size: small;
                display: inline-block;
                padding-left: 5px;
                padding-right: 5px;
                a {
                    font-size: small;
                    background: none;
                    margin-left: 20px;
                    color: #0366d6;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            span.footer-links-left {
                float: left;
            }
            span.footer-links-right {
                float: right;
            }
        }
    }
}

.navbar-static-bottom {
  @extend .navbar-fixed-bottom;
  position: relative;
  border-width: 0;
}
.pagination {
  margin: 0 0 5px 0;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.text-strong {
  font-weight: bold;
}

.text-small {
  font-size: small;
}
.text-gray {
  color: #586069 !important;
}

.text-center {
  text-align: center;
}

.table-simple {
  border: 1px solid #ddd;
}

.--spacious {
  margin-top: 40px;
}
.--spacious-20 {
  margin-top: 20px;
}
.--spacing {
  margin-bottom: 40px;
}
.--spacing-20 {
  margin-bottom: 20px;
}

a.filter-link {
  color: #15750d;
  text-decoration: none;
}

.artefact, .source {
  h2 {
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .nav-tabs {
    margin-bottom: 10px;
    span.buttons {
      @extend .pull-right;
      margin-top:5px;
    }
  }
  .flex-images {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .bordered {
    border: 1px solid #c5c5c5;
    padding: 5px 0;
  }
}

.artefacts-list {

}

#map img {
  max-width: none;
}
#map label {
  width: auto; display:inline;
}

.edit-subject-tags {
  .form-group {
    margin-bottom: 0;
  }
}

.tag-cloud {
    .css1 {
        font-size: 1.0em;
    }
    .css2 {
        font-size: 1.2em;
    }
    .css3 {
        font-size: 1.4em;
    }
    .css4 {
        font-size: 1.6em;
    }
}
